<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Admin</title>
</head>

<body>
    <%- include('header.ejs') %>
        <div class="container m-auto mt-10 p-auto">
            <div class="mt-6">
                <a href="/">Home</a> ><a href="/createsport">Sport#<%= sport.sports_name %></a>
            </div>
            <div class="mt-6 text-6xl">
                <%= sport.sports_name %>
            </div>
            <div class="mt-4 py-3">
                <a href="/sport/<%= sport.id %>/createSession"
                    class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-5 py-2">Create new
                    session</a>
                <a href="/sport/<%= sport.sports_name %>/previousSession"
                    class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-5 py-2">View previous
                    sessions</a>
            </div>
            <div class="m-5 py-5">
                <h1 class="text-2xl">Upcoming Sessions</h1>
                <% for(let i=0; i < sessions.length; i++) { %>
                    <div class="flex">
                        <div class="border mt-5 border-gray-950 rounded p-4 mb-4 w-80">
                            <a href="/sport/<%= sessions[i].dataValues.id %>">
                                <%= sessions[i].dataValues.DateTime.toLocaleString('en-US', { timeZone: 'UTC' }) %>
                                    Session
                                    #<%= sessions[i].dataValues.id %>
                            </a>
                        </div>
                        <div class="ml-4">
                            <% if(getUser.id===sessions[i].dataValues.userId) { %>
                                <div class="text-xl mt-2 px-2 rounded mt-8 text-gray-600">( Created by you )</div>
                                <% } %>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
</body>

</html>