<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Admin</title>
</head>

<body>
    <nav class="h-16 bg-blue-700 items-center flex justify-between">
        <div class="text-white text-2xl">
            <p class="ml-4">Sports-Scheduler</p>
        </div>
        <div class="text-white">
            <button type="submit" class="mr-4 border-2 rounded p-1 hover:bg-blue-600">signout</button>
        </div>
    </nav>
    <div class="container m-auto p-auto my-10 drop-shadow-xl border-4">
        <div class="m-5">
        <div>
            home
        </div>

        <form action="/sport/<%=sessions[0].id%>/editSession" method="post">
            <input type="text" name="_csrf" value="<%= csrfToken %>" hidden>
            <input type="text" name="sportid" value="<%= sport.id %>" hidden/>
            <h2 class="text-4xl my-10">Edit Session</h2>
            <%=sessions[0].id%>
        <div>
            <label for="dateandtime">Date and Time of session</label>
            <input type="datetime-local" value="<%= new Date(sessions[0].dataValues.DateTime).toISOString().slice(0, 16) %>" id="dateandtime" name="DateTime" class="border-2 mt-2 p-2 rounded w-60 border-lime-750"/>

        </div>
        <div class="mt-2">
            <label for="address">Address of session to be held</label><br>
            <textarea  id="address" name="venu" cols="50" rows="5" placeholder="Enter Adderss" class="border-2 mt-4 p-2 rounded border-lime-750"><%= sessions[0].dataValues.Venue %></textarea>
        </div>
        <div>
            <label for="playes">Players name joining session(comma seperated)</label>
            <input type="text" id="players" placeholder="Players names" name="players" value="<%= sessions[0].dataValues.Participants %>" class="border-2 mt-4 p-2 rounded w-3/6 border-lime-750"/>
        </div>
        <div>
            <label for="no_of_playes">Total No. of Players</label>
            <input type="number" value="<%= sessions[0].dataValues.no_of_players %>" name="no_of_players" id="no_of_playes" class="border-2 mt-4 p-2 rounded w-20 border-lime-750"/>
        </div>
        <div>
            <button type="submit" class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-5 py-2">Submit</button>
        </div>
    </form>
    </div>
    </div>
</body>

</html>